<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>


</head>
<style>
     h1{
        text-align: center;
        color: red;
    }
</style>
<body>
    <h1>Welcome <%= user.name %></h1>
    <h1>email : <%= user.email %></h1>
    <h1>City : <%= user.city %></h1>
</body>
</html>